registry=https://registry.npmjs.org/
@at:registry=https://pkgs.dev.azure.com/Atil-utvikling/_packaging/Atil-utvikling/npm/registry/
//pkgs.dev.azure.com/Atil-utvikling/_packaging/Atil-utvikling/npm/registry/:always-auth=true

node-linker=hoisted
